<app-header (toggleLeftSideNav)='toggleLeftSideNav()' (toggleRightSideNav)='toggleRightSideNav()'></app-header>
<mat-sidenav-container class="main-sidenav-container">
  <mat-sidenav #sidenav_left
    mode = "over"
    opened = "false"
    position="start"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [fixedBottomGap]="0"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sidenav_right
    mode = "over"
    opened = "false"
    position="end"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [fixedBottomGap]="0"
    >
      <!-- <app-sidenav (toggleRightSideNav)='toggleRightSideNav()'></app-sidenav> -->
  </mat-sidenav>
</mat-sidenav-container>
